/* adjusting the built-in theme */

/* calendar event */
.calendar_default_event_inner {
    background: #f0f2f5;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 10pt;
    padding: 10px;
    opacity: 0.8;
}
