/* adjusting the built-in theme */

/* calendar event */
.calendar_default_event_inner {
    background: #f0f2f5;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 10pt;
    padding: 10px;
    opacity: 0.8;
}
.custom-toolbar {
    display: flex;
    align-items: center; /* Align items vertically in the center, adjust as needed */
  }

  /* Adjust the styles for the dropdowns as needed */
  /* Example styles */
  .RoomDropdown,
  .ProfessorDropdown,
  .CoursenumberDropdown {
    flex: 1; /* Distribute available space equally among dropdowns */
    margin-right: 10px; /* Add spacing between dropdowns */
  
  }
  